/*--------------------------------------------------------------------------------
### Utilities -> Common -> Spacing
--------------------------------------------------------------------------------*/
.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-gap {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 576px) {
}

@include media-breakpoint-down(md) {
    .hide-mobile {
        display: none;
    }
}
