/*--------------------------------------------------------------------------------
### Utilities -> Common -> Displays
--------------------------------------------------------------------------------*/
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

// 576px
@include media-breakpoint-up(sm) {
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-inline-block {
        display: inline-block;
    }
}

// 768px
@include media-breakpoint-up(md) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline-block {
        display: inline-block;
    }
}

// 992px
@include media-breakpoint-up(lg) {
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline-block {
        display: inline-block;
    }
}

// 1200px
@include media-breakpoint-up(xl) {
    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

    .d-xl-inline-block {
        display: inline-block;
    }
}

.d-flex {
    display: flex;
}
