/*--------------------------------------------------------------------------------
### Core --> Common -> Lines
--------------------------------------------------------------------------------*/
.lines,
.sec-lines {
    position: relative;

    .line,
    .sec-line {
        display: block;
        width: 1px;
        height: 0;
        position: fixed;
        background: rgba($primary-rgb, 0.2);
        z-index: -1;
        top: 0;
        pointer-events: none;

        &.page-change {
            z-index: 9999;
        }

        &.line-arange {
            z-index: 4;
        }
    }

    .line-1,
    .sec-line-1 {
        left: 20%;
    }

    .line-2,
    .sec-line-2 {
        left: 50%;
        bottom: 0;
        top: unset;

        &::after {
            background: $root-layout-dark;
        }
    }

    .line-3,
    .sec-line-3 {
        left: 80%;
    }

    @include media-breakpoint-down(md) {
        .line-1,
        .line-3,
        .sec-line-1,
        .sec-line-3 {
            display: none;
        }
    }
}

.sec-lines {
    position: absolute;
    width: 100%;
    height: 100%;

    .sec-line {
        z-index: 3;
        height: 100%;
        position: absolute;
    }
}
